<!-- messages -->
<%- messages() %>
<!-- errors -->
<% if (errors!=null) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<div class="form-card account__register">
  <!-- content heading -->
  <% if (title) { %>
  <h1 class="form-card-title account__register-title"><%= title %></h1>
  <% } else { res.redirect('/') } %>

  <!-- registration HTML form that accepts four inputs: first name, last name, email address and password. Each input should be of the correct input type-->
  <form
    action="/account/register"
    method="post"
    class="form-card-form account__register-form"
  >
    <label for="account_firstname">First Name: </label>
    <br />
    <input
      type="text"
      id="account_firstname-register"
      name="account_firstname"
      required
      value="<%= locals.account_firstname %>"
      class="input"
    />
    <br />
    <label for="account_lastname">Last Name: </label>
    <br />
    <input
      type="text"
      id="account_lastname-register"
      name="account_lastname"
      required
      value="<%= locals.account_lastname %>"
      class="input"
    />
    <br />
    <label for="account_email">Email Address: </label>
    <br />
    <input
      type="email"
      id="account_email-register"
      name="account_email"
      required
      value="<%= locals.account_email %>"
      class="input"
    />
    <br />
    <label for="account_password">Password: </label>
    <br />
    <input
      type="password"
      id="account_password-register"
      name="account_password"
      required
      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
      class="input"
    />
    <div class="pass-reqs">
      Passwords must be at least 12 characters and contain at least 1 number, 1
      capital letter and 1 special character.
    </div>
    <br />
    <!--  a button to submit the registration data -->
    <div class="form-card-button account__register-form-button">
      <button type="submit">REGISTER</button>
    </div>
  </form>
</div>
