<!--messages-->
<%- messages() %>
<!-- errors -->
<% if (errors!=null) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<!-- title -->
<% } %> <% if (title) { %>
<h1 class=""><%= title %></h1>
<% } else { res.redirect('/') } %>

<div class="form-card updateAccount">
  <!-- content heading -->
  <h2 class="form-card-title updateAccount-title">Account Information</h2>

  <!-- login HTML form that accepts an email adress and password-->
  <form
    id="updateAccount-form"
    action="/account/update-account-info"
    method="post"
    class="form-card-form updateAccount-form"
  >
    <label for="account_firstname">First Name: </label>
    <br />
    <input
      type="text"
      id="account_firstname-update"
      name="account_firstname"
      required
      value="<%= locals.account_firstname %>"
      class="input"
    />
    <br />
    <label for="account_lastname">Last Name: </label>
    <br />
    <input
      type="text"
      id="account_lastname-update"
      name="account_lastname"
      required
      value="<%= locals.account_lastname %>"
      class="input"
    />
    <br />
    <label for="account_email">Email Address: </label>
    <br />
    <input
      type="email"
      id="account_email-update"
      name="account_email"
      required
      value="<%= locals.account_email %>"
      class="input"
    />
    <br />
    <!--  a button to submit the registration data -->
    <div class="form-card-button updateAccount-button">
      <button type="submit">UPDATE INFO</button>
    </div>

    <!-- hidden input -->
    <!-- prettier-ignore -->
    <input type="hidden" name="account_id" <% if(locals.account_id) { %>
    value="<%= locals.account_id %>" <% } %>>
    <!-- hidden input -->
    <!-- prettier-ignore -->
    <input type="hidden" name="current_email" value="<%= locals.account_email %>">
  </form>
</div>

<div class="form-card changePassword">
  <!-- content heading -->
  <h2 class="form-card-title changePassword-title">Password</h2>

  <!-- login HTML form that accepts an email adress and password-->
  <form
    id="changePassword-form"
    action="/account/update-account-pass"
    method="post"
    class="form-card-form changePassword-form"
  >
    <div class="pass-reqs">
      Entering a new password here will change your current password.
      <br /><br />Passwords must be at least 12 characters and contain at least
      1 number, 1 capital letter and 1 special character.
    </div>
    <br />
    <label for="account_password">Password: </label>
    <br />
    <input
      type="password"
      id="account_password-change"
      name="account_password"
      required
      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
      class="input"
    />
    <br />
    <!--  a button to submit the registration data -->
    <div class="form-card-button changePassword-button">
      <button type="submit">CHANGE PASSWORD</button>
    </div>

    <!-- hidden input -->
    <!-- prettier-ignore -->
    <input type="hidden" name="account_id" <% if(locals.account_id) { %>
    value="<%= locals.account_id %>" <% } %>>
  </form>
</div>
